{% extends 'base.html.twig' %}


{% block body %}
<div class = "jumbotron">
    <h1 class="display-3">New CHORDS</h1>
    <div class="" >    
        {{form_start(formNote)}}

        <div class="">
            {{form_widget(formNote.nom,{'attr':{'class':''}} ) }}

        </div>
    </div>
    {{form_end(formNote)}}

    {{form_start(formGenre)}}
    {{form_widget(formGenre.nom)}}

    {{form_end(formGenre)}} 

</div>
{% endblock %}
